html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.hidden {
  display: none;
}

.container {
  width: 640px;
  border: 1px solid black;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 45%;
  display: inline-block;
}

input[type="number"] {
  width: 50px;
}

.text-lyric {
  width: 500px;
}

.beat-marker {
  height: 10px;
}

.on-beat {
  background-color: red;
}

table {
  border-collapse: collapse;
}

.cell {
  border: 1px solid black;
  background-color: white;
  width: 30px;
  height: 12px;
}

.note-on {
  background-color: green;
}